<%= @email %> Hello, I am <%= @name %>,
Please add this new bussiness location.
<h3>Client Name    :              <%= @name %></h3>
<h3>Street Address :              <%= @street %></h3>
<h3>City           :              <%= @city %></h3>
<h3>State          :              <%= @state %></h3>
<h3>Country        :              <%= @country %></h3>
<h3>Zipcode        :              <%= @zipcode %></h3>
<h3>Location Primary Contact Name:         <%= @user_name%></h3>
<h3>Location Phone Number:        <%= @location_phone_no%></h3>
<h3>Google Place Id:              <%= @google_place_id %></h3>
<h3>Google Location Id:              <%= @google_location_id %></h3>

Thanks and Regards
<br>
<%= @name %>