<!DOCTYPE html>
<!-- <div class="container" id="flash">
  <#% flash.each do |name, msg| %>
    <a class="close" data-dismiss="alert">&#215;</a>
    <#%= content_tag :div, msg,:id => "flash_#{name}", class: "alert alert-info" %>
  <#% end %>
</div> -->
<html lang="en">
    
<head>
  <title>Review Maiden</title><meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="css/matrix-login.css" />
  <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
   <style type="text/css">
    .header
    {
      text-align: center;
      color: white;
    }

   </style>    
    </head>
    <body>
      <div id="loginbox">
        <%= form_for @user, url: users_create_path(@user) do |f| %>
        <form id="loginform" class="form-vertical">
    <!--  <div class="control-group normal_text"> <h3><img src="img/logo.png" alt="Logo" /></h3></div> -->
          <div class="control-group normal_text"> <h3><%= image_tag "logo1.png" , :alt => "Logo" %></h3></div>
            <div class="control-group">
            <div class="controls">
              <div class="main_input_box">
               <!--  <span class="add-on bg_lg"><i class="icon-user"> </i></span> -->
                <%= f.text_field :first_name,  placeholder:"First Name" %>
              </div>
            </div>
          </div>
            <div class="control-group">
            <div class="controls">
              <div class="main_input_box">
               <!--  <span class="add-on bg_lg"><i class="icon-user"> </i></span> -->
                <%= f.text_field :last_name,  placeholder:"Last Name" %>
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <div class="main_input_box">
               <!--  <span class="add-on bg_lg"><i class="icon-user"> </i></span> -->
                <%= f.email_field :email, autofocus: true, required: true, placeholder:"Email", maxlength: "50" %>
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <div class="main_input_box">
              <!--   <span class="add-on bg_ly"><i class="icon-lock"></i></span> -->
                <%= f.password_field :password, autofocus: true, required: true, placeholder:"Password", maxlength: "50" %>
              </div>
            </div>
          </div>
           <div class="control-group">
            <div class="controls">
              <div class="main_input_box">
              <!--   <span class="add-on bg_ly"><i class="icon-lock"></i></span> -->
                <%= f.password_field :password_confirmation, autofocus: true, required: true, placeholder:"Password", maxlength: "50" %>
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <div class="main_input_box">
              <!--   <span class="add-on bg_ly"><i class="icon-lock"></i></span> -->
                <%= f.text_field :primary_mobile_no,  placeholder:"Mobile No" %>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit "Add Client", class: "pull-right btn btn-success borrad" %>
          </div>
          </form>
         <% end %> 
        <form id="recoverform" action="#" class="form-vertical">
          <p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>    
          <div class="controls">
            <div class="main_input_box">
              <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
            </div>
          </div>
         
          <div class="form-actions">
            <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>
            <span class="pull-right"><a class="btn btn-info">Recover</a></span>
          </div>
        </form>
    </div>
    
    <script src="js/jquery.min.js"></script>  
    <script src="js/matrix.login.js"></script> 
  </body>

</html>


