<!DOCTYPE html> 
<html lang="en">  
<head>
  <title>Review Maiden</title><meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'bootstrap.min', 'bootstrap-responsive.min', 'matrix-login', 'font-awesome', 'clients' %>
</head>
<body>
  <div class="<%= "alert alert-success container password-content" if !flash[:notice].nil? %> " id="noticediv" style="text-align:center"  >
    <p><%= flash[:notice] %></p>
  </div>
  <div id="loginbox">
    <%= form_for @user, url: clients_created_passwords_path(@user.id), method: :post  do |f| %>
      <form id="loginform" class="form-vertical">
        <div class="control-group normal_text"> 
       <!--  <h2>Reset Password</h2> -->
          <h3><%= image_tag "logo1.png" , :alt => "Logo" %></h3></div>
          <div class="control-group">
            <div class="controls">
              <div class="main_input_box">
                <%= f.password_field :password, placeholder:"Password", maxlength: "50" %>
                  <span class="errorMassage" style="color:red; position:relative; bottom:20px;font-size: 10px;"><%= @user.errors.full_messages_for(:password).join("") %></span>
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <div class="main_input_box">
                <%= f.password_field :password_confirmation,  placeholder:"Confirm Password", maxlength: "50" %>
                    <span class="errorMassage" style="color:red;position:relative; bottom:20px;font-size: 10px;"><%= @user.errors.full_messages_for(:password_confirmation).join("") %></span>
              </div>
            </div>
          </div>
          <%= f.hidden_field :id, value: @user.id%>
        <div class="form-actions">
          <%= f.submit "Save Password", id: "create_password_button", :action => "update", class: "pull-center btn btn-success borrad"  %>
        </div>
      </form>
    <% end %> 
  </div>
</body>
</html>
<script src="/js/jquery.min.js"></script>  
<script src="/js/matrix.login.js"></script>
<%= javascript_include_tag "jquery.min", "matrix.login" %>


<script>


$("#create_password_button").click(function(e) {
    var password = $("#user_password").val();
    var passReg = /^([a-zA-Z0-9!@#$%^&*]){6,25}$/;
    var confirmPassword = $("#user_password_confirmation").val();  
    if (password === '' || !confirmPassword === '' ) {
      alert("Please enter password");
      e.preventDefault();
    }else if (!password === '' || confirmPassword === '') {
      alert("Please enter confirm password");
      e.preventDefault();
    }else if (!(password || confirmPassword).match(passReg)) {
      alert("Password and Confirm Password length is minimum 6 characters.");
      e.preventDefault();
    }else if (password != confirmPassword) {
      alert("Password and confirm password do not match.");
      return false;
    }
});


</script>




